<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">	
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Carbo Web</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="/">Home</a></li>
				<li><a href="/getCityWeather">Weather Forecast</a></li>
				<li><a href="/boardGame">Board Game</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
				<li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    		</ul>
        </div>
	</div>
</nav>

<div class="page-header">
	<h1>Where am I?</h1>
</div>
<div class="well">
	<p>Hi, this is an experimentation website. Availible operations can be found in the top navbar. Feel free to touch buttons and try things.</p>
</div>
<img src="/images/Abandon-Hope.jpg" alt="abandon-all-hope">